<form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
  <label for="">Prénom</label>
  <input ngModel required name="prenom" type="text" class="form-control" />

  <label for="">Nom</label>
  <input ngModel required name="nom" type="text" class="form-control" />

  <label for="">Age</label>
  <input
    ngModel
    min="23"
    max="52"
    name="age"
    type="number"
    class="form-control"
  />

  <label for="">Profession</label>
  <input ngModel name="profession" type="text" class="form-control" />

  <label for="">Avatar</label>
  <input ngModel name="avatar" type="text" class="form-control" />

  <button type="submit" class="btn btn-primary">Ajouter Candidat</button>
</form>
